.auth-form {
  width: 100%;
  min-height: 80vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  background-image: -moz-linear-gradient(120deg, var(--theme-color2) 0%, var(--theme-color1) 100%);
  background-image: -webkit-linear-gradient(120deg, var(--theme-color2) 0%, var(--theme-color1) 100%);
  background-image: -ms-linear-gradient(120deg, var(--theme-color2) 0%, var(--theme-color1) 100%);
  background-image: linear-gradient(120deg, var(--theme-color2) 0%, var(--theme-color1) 100%);
}

.wrap-full-card {
  padding: 20px;
}

@media (min-width: 768px) {
  .wrap-full-card {
    padding: 80px;
  }
}

@media (min-width: 1200px) {
  .wrap-full-card {
    padding: 120px;
  }
}
